{{#if addReview}}
  <div class="reviewForm">
    <form>
      <div class="form-group">
        <label for="rating">Rating</label>
        {{#x-select value=rating id="rating"}}
          {{#x-option value="1"}}1{{/x-option}}
          {{#x-option value="2"}}2{{/x-option}}
          {{#x-option value="3"}}3{{/x-option}}
          {{#x-option value="4"}}4{{/x-option}}
          {{#x-option value="5"}}5{{/x-option}}
      {{/x-select}}
      </div>

      <div class="form-group">
        <label for="author">Your Name</label>
        {{input value=author id="author"}}
      </div>
      <div class="form-group">
        <label for="content">Review</label>
        {{textarea value=content id="content"}}
      </div>
      <button {{action 'saveReview' review}}>Post Review</button>
    </form>
    <button{{action 'toggleDetail'}}>Nevermind!</button>
  </div>

{{else}}
  <div class="addReviewSection">
    <button  {{action 'toggleDetail'}}>Review This Product</button>
  </div>
{{/if}}
